//Import Files

@use "../../Helpers/Variblies.scss" as *;

//Rules
#items{
    .notfyCard{
        background-color: $Light-grayish-blue-1;
        img{
            min-width: 5rem;
        }
        .red{
            background-color: $Red-color;
            width: 15px;
            height: 15px;
        }
        .title{
            color: $Very-dark-blue;
            transition: all 1s;
            cursor: pointer;
            &:hover{
                color: $Blue-color;
            }
        }
        .lightTxt, .time{
            color: $Grayish-blue;
        }
        .txt{
            color: $Dark-grayish-blue;
            transition: all 1s;
            cursor: pointer;
            &:hover{
                color: $Blue-color;
            }
        }
    }
    .msg{
        border: 1px solid $Light-grayish-blue-2;
        width: 75%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        transition: all 1s;
        &:hover{
            background-color: $Light-grayish-blue-1 !important;
        }
    }
    .chessImg{
        width: 2rem;
        cursor: pointer;
    }
}


@media (max-width: 540px) {
    #items{
        font-size: 14px;
        .chessImg{
            display: none;
        }
    }
    .msg{
        width: 100%;
        left: auto;
        transform: translateX(0);
    }
} 