//Import files
@use "./Helpers/Variblies.scss" as *;

@use "./Components/Home/Home.scss" as *;

//Font Implement
@font-face {
  font-family: 'ExtraBold';
  src: url(./assets/assets/fonts/static/PlusJakartaSans-ExtraBold.ttf) format('truetype' );
  font-family: 'Medium';
  src: url(./assets/assets/fonts/static/PlusJakartaSans-Medium.ttf) format('truetype' );
}

//Rules

body{
  font-family: "Medium";
  font-size: 16px !important;
  background-color: $Very-light-grayish-blue;
}